

body{
    font-family: sans-serif;
}
.heading {
    color: green;
   
 
}

#home-page-heading {
    color: blue;
}

.update {
    margin: 25px ;
}

.error {
    margin: 25px;
    color: red;
}

.primary-heading {
    font-size: 75px;
    text-align: left;
    padding: 75px
}

.secondary-heading {
    font-size: 30px;
    padding: 25px;

}
.upcoming-flight {
    font-size: 20px;
    margin: 30px 25vw
}

.wrapper {
    margin: 10px 20px;
    padding: 20px; 

}

.intro {
    background-color: linen;
    border: linen;
}
    
.gallery {
    display: grid;
    grid-template-columns: 50px 100px ;

}

.form {
    margin: 30px 5vw;
    padding: 20px;
    /* border: 3px solid lightblue; */
    boarder-radius: 50px;
}

.form_search {
    margin: 30px 5vw;
}

#bkgnd {
    position: absolute;
    top: -10px;
    width: 100%;
    height: auto;
    z-index: -1;
}

.pages {
    margin: auto;
    width: 20%;
    background: white;
}

.table {
    font-size: 20px;
}
